.admin_panel {
  max-width: 800px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
  }
}
